<ion-view cache-view="false" view-title="Booking summary">
  <ion-content>
     <center><ion-spinner icon="android" ng-show="loading"></ion-spinner></center>   
    <div class="list cuslist" ng-show="notfound">
            <a class="item" ng-show="notfound">
                <center><h1>No results found</h1></center>
            </a>
      </div>

    <div class="card" ng-show="nloading">
         
          <div class="list " >
            <div class="item item-divider spwidth">Booked Details</div>
              <label class="item item-input item-stacked-label">
                  <span class="input-label">Company Name</span>
                  <input type="text" ng-model="busname" ng-disabled="true">
              </label>
              <label class="item item-input item-stacked-label">
                  <span class="input-label">Company Address</span>
                  <input type="text" ng-model="busaddress" ng-disabled="true">
              </label>
            <label class="item item-input">
                <span class="input-label sspwidth">Bookings</span>
                <input type="text" ng-model="nob" ng-disabled="true" class="bsum" >
            </label>
            <label class="item item-input">
                <span class="input-label sspwidth">Collection</span>
                <input type="text" ng-model="tfc" ng-disabled="true" class="bsum" >
            </label>
           </div> 
    </div>
      <center><button ng-show="nloading" class="button  button-balanced btwidth" ng-click="caller()">{{printer}}</button>
      <button ng-show="nloading" class="button  button-stable" ng-click="cancel()" >Home </button>
      </center>
     
  </ion-content>
</ion-view>
