<ion-view cache-view="false"  view-title="Book">
  <ion-content>
    <div class="card">
        <center>   <div class="item item-divider positive">
            Passenger Details
          </div></center>
    		<!--<center><h3 class="head-p"> Passenger Details </h3> </center>-->
            <div class="list"  ng-repeat = "d in dnarray track by $index ">
            <div class="item item-divider">{{$index + 1}}.Passenger</div>
            <label class="item item-input">
                <span class="input-label">Fare Amount</span>
                <input type="number" ng-model="busfare[d]" placeholder="Fare" >
            </label>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="fn[d]" placeholder="First name" >
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="ln[d]" placeholder="Last name" >
            </label>
             <label class="item item-input">
                <span class="input-label">Id Number</span>
                <input type="number" ng-model="idn[d]"  placeholder="Id number" >
            </label>
            <label class="item item-input">
                <span class="input-label">Mobile </span>
                <input type="number" ng-model="mbn[d]"  placeholder="Mobile number" >
            </label>    
    </div>
 
    </div>
     <center><button class="button  button-positive" ng-click="caller()" ng-show="but">&nbsp;{{printer}}&nbsp;&nbsp;</button>
      <button class="button  button-energized" ng-click="cancel()" ng-show="but" >Cancel </button>
      </center>
      <br>
     
  </ion-content>
</ion-view>
