 <ion-view view-title="Avanettech" cache-view="false" hide-nav-bar="true"  drag-content="false">

  <ion-content drag-content="false"  >
  <ion-nav-view> 
  </ion-nav-view>
  <div>
  <br><br>
  <center>&nbsp;<img src="images/logo.png" style="height:120px;"></center><br>
  <center><h3 class="hcolor">Avanet Technologies</h3></center>
  <div class="" >
    <form ng-submit="doLogin()">
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-person iu placeholder-icon"></i>
    <input type="text" ng-model="uname" placeholder="User Name">
  </label>
  <label class="item item-input">
    <i class="icon ion-unlocked iu placeholder-icon"></i>
    <input type="password" ng-model="password" placeholder="Password">
  </label>
  </div>
        <label class="">
         <center> <button class="button logwidth bstyle button-calm" type="submit">Login</button></center>
        </label>
      </div>
    </form>
  </div>
  </div>
<!--  <div class="card">
   <center> <h3 class="calm"> Another one from Avanet Tech </h3>
      <h4 class="calm">www.avanettech.co.ke</h4>
     </center>
  </div> -->
  </ion-content>
</ion-view>
