<ion-view cache-view="false" view-title="Fuel Sale Summary">
    <ion-content>
        <div class="card">
            <center><div class="item item-divider positive">Fuel Sale Summary</div></center>
            <div class="list">
                <div class="item item-divider">
                    <button class="button sumbut button-stable" style="float:left"  ng-click="caller()"><i class="ion-printer"> {{printer}}</i></button>
                    <button class="button sumbut  button-stable" style="float:right" ng-click="cancel()" >{{nextb}}</button>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Company Name</span>
                    <input type="text" ng-model="companyname" ng-disabled="true">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Company Address</span>
                    <input type="text" ng-model="companyaddr" ng-disabled="true">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Station</span>
                    <input type="text" ng-model="companyaddr" ng-disabled="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Total Amount</span>
                    <input type="text" ng-model="summ_amt" ng-disabled="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cash Amount</span>
                    <input type="text" ng-model="summ_cash" ng-disabled="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Total Amount</span>
                    <input type="text" ng-model="summ_mpesa" ng-disabled="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Total Volume</span>
                    <input type="text" ng-model="summ_vol" ng-disabled="true"  >
                </label>
                <label class="item item-input">
                    <span class="input-label">Diesel Volume</span>
                    <input type="text" ng-model="summ_diesel" ng-disabled="true"  >
                </label>
                <label class="item item-input">
                    <span class="input-label">Petrol Volume</span>
                    <input type="text" ng-model="summ_petrol" ng-disabled="true"  >
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
