<ion-view cache-view="false" view-title="Home <i style='float:right' >Search bus</i>">
  <ion-content class="padding bg">
 <form ng-submit="search()">
  <div class="card customcard">
  <div class="list">
    <!-- <label class="formfont item item-input item-select">
       <span class="input-label formfont" ><i class="ion-ios-location iconsize "> </i>From</span>
       <ion-spinner icon="dots" class="spinerdot" ng-show="spinner1"></ion-spinner>
       <select ng-model="source" class="formfont" ng-change="findto()"> 
          <option ng-show="false" value=""></option>
          <option ng-repeat="c in cities track by $index" ng-value="c">{{c}}</option>
       </select>

    </label>-->
      <label class="item item-input item-stacked-label">
          <span class="input-label">From</span>
          <input type="text" ng-model="office_name" ng-disabled="true">
      </label>
    <label class="item item-input item-select">
         <span class="input-label formfont"><i class=" iconsize ion-ios-location-outline"> </i>To</span>
          <ion-spinner icon="dots" class="spinerdot" ng-show="spinner2"></ion-spinner>
          <select class="formfont" ng-model="destination" >
          <option ng-show="false" value=""></option>
          <option ng-repeat="c in citiess track by $index" ng-value="c" >{{c}}</option>
       </select>
    </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label formfont"><i class="iconsize ion-ios-calendar"> </i>Date of journey</span>
    <input class="formfont" type="text" placeholder="dd-mm-yyyy" ng-model="dates" onfocus="(this.type='date')" onblur="(this.type='text')" min="{{mindt}}" ng-change="setdate(dates)" />
 </label>
      <!-- Choose bus -->
      <label class="item item-input">
          <span class="input-label formfont"><i class=" iconsize" > </i>Filter Vehicles</span>
          <input class="formfont" type="text" placeholder="Enter reg no" ng-model="query">
      </label>
      <label class="item item-input item-select">
          <span class="input-label formfont"><i class=" iconsize ion-android-bus" > </i>Vehicle</span>
          <ion-spinner icon="dots" class="spinerdot" ng-show="spinner3"></ion-spinner>
          <select class="formfont" ng-model="selectedbus" >
              <option ng-show="false" value=""></option>
              <option ng-repeat="b in buses | filter: query track by $index"  ng-value="b" >{{b}}</option>
          </select>
      </label>

      <label class="item item-input">
          <span class="input-label">Fare Amount</span>
          <input type="number" ng-model="busfare" placeholder="Fare" >
      </label>
      <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="passname" placeholder="Enter Name" >
      </label>

 </div>
  </div>  
   <center> <button class="button  bstyle button-positive" >Book!</button></center><br>
</form>
  </ion-content>
</ion-view>