<ion-view cache-view="false" view-title="Home <i style='float:right' >Search bus</i>">
  <ion-content class="padding bg">
 <form ng-submit="search()">
  <div class="card customcard">
  <div class="list">
    <label class="formfont item item-input item-select">
       <span class="input-label formfont" ><i class="ion-ios-location iconsize "> </i>From</span>
       <ion-spinner icon="dots" class="spinerdot" ng-show="spinner1"></ion-spinner>
       <select ng-model="source" class="formfont" ng-change="findto()"> 
          <option ng-show="false" value=""></option>
          <option ng-repeat="c in cities track by $index" ng-value="c">{{c}}</option>
       </select>
    </label> 
    <label class="item item-input item-select">
         <span class="input-label formfont"><i class=" iconsize ion-ios-location-outline"> </i>To</span>
          <ion-spinner icon="dots" class="spinerdot" ng-show="spinner2"></ion-spinner>
          <select class="formfont" ng-model="destination" >
          <option ng-show="false" value=""></option>
          <option ng-repeat="c in citiess track by $index" ng-value="c" >{{c}}</option>
       </select>
    </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label formfont"><i class="iconsize ion-ios-calendar"> </i>Date of journey</span>
    <input class="formfont" type="text" placeholder="dd-mm-yyyy" ng-model="dates" onfocus="(this.type='date')" onblur="(this.type='text')" min="{{mindt}}" ng-change="setdate(dates)" />
 </label>

 <label ng-show="rdtf" class="item item-input item-stacked-label">
    <span class="input-label formfont"><i class="iconsize ion-ios-calendar-outline"> </i>Date of return</span>
    <input type="text" class="formfont" placeholder="dd-mm-yyyy" ng-model="rdates" onfocus="(this.type='date')" onblur="(this.type='text')" onabort="" change="(this.type='text')" min="{{minrdt}}"/>
 </label>

  <label class="item item-input item-select">
   <span class="input-label formfont"><i class="iconsize ion-arrow-swap"> </i>Trip type</span>
   <select ng-model="trip.name" ng-change="togg()" class="formfont">
        <option class="cselect" ng-selected="selected" value="one" >One way</option>
        <option class="cselect" value="round" >Round </option>
    </select>
  </label>

 </div>
  </div>  
   <center> <button class="button  bstyle button-positive" >Search</button></center><br>
</form>
  </ion-content>
</ion-view>