<ion-view cache-view="false" view-title="Home <i style='float:right' >Fuel Sale</i>">
    <ion-content class="padding bg">
        <form ng-submit="makesale()">
        <div class="card customcard">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label formfont">Station</span>
                    <input type="text" ng-model="station" ng-disabled="true">
                </label>
                <label class="item item-input">
                    <span class="input-label formfont">Vehicle Reg No</span>
                    <input type="text" ng-model="vehregno" placeholder="Enter Name" >
                </label>
                    <label class="item item-input item-select">
                    <span class="input-label formfont"><i class=" iconsize ion-ios-location-outline"> </i>Fuel Type</span>
                    <select ng-model="ftype" ng-options="item for item in fueltype">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label formfont"><i class=" iconsize ion-ios-location-outline"> </i>Payment Method</span>
                    <select ng-model="pmethod" ng-options="item for item in payment">
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label formfont"><i class=" iconsize ion-ios-location-outline"> </i>Amount</span>
                    <input type="text" ng-model="amount">
                    </select>
                </label>
            </div>
        </div>
        <center> <button class="button  bstyle button-positive" >Sell fuel</button></center><br>
        </form>
    </ion-content>
</ion-view>