<ion-view cache-view="false" view-title="Results" >
<div class="bar bar-subheader bar-calm" ng-init="init()">
    <h5 class="title subhead">Journey Date: {{dater}}</h5>
</div>
  <ion-content class="has-subheader">
  <center><ion-spinner icon="android" ng-show="loading"></ion-spinner></center>   
    <div class="list cuslist">
     <a class="item" ng-show="notfound">
            <center><h3>No Buses found</h3></center>
     </a>
        <a class="item"  ng-if="dataLoaded"  ng-repeat="b in results track by $index" ng-click="seats(b.id,b.Bus_name)">
            <center><div class="positive buss"><i class="ion-android-bus"></i>{{b.Bus_name}} ({{b.Bus_type}})</div></center>
            <div class="row">
                <div class="col col-50 ar">
                    Available :
                </div>
                <div class="col col-50 al">
                    <i class="ion-arrow-down-b"></i> {{b.Bus_availableseats}} seats
                </div>   
            </div>
            <div class="row">
                <div class="col col-50 ar">
                    Bus Fare :
                </div>
                <div class="col col-50 al">
                    KShs.{{b.Bus_fare}}
                </div>   
            </div>
            <div class="row">
                <div class="col bts">
                     {{b.Bus_boarding_time}} - {{b.Bus_departure_time}}
                </div>
            </div>
        </a>
    
    </div>
    
  </ion-content>
</ion-view>


