<ion-view cache-view="false" view-title="Book">
  <ion-content>
    <div class="card">
        <center>   <div class="item item-divider positive">
            Passenger Summary
          </div></center>
          <div class="list">
            <div class="item item-divider">
                <button class="button sumbut button-stable" style="float:left"  ng-click="caller()"><i class="ion-printer"> {{printer}}</i></button>
                <button class="button sumbut  button-stable" style="float:right" ng-click="cancel()" >{{nextb}}</button>
            </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Company Name</span>
            <input type="text" ng-model="busname" ng-disabled="true">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Company Address</span>
            <input type="text" ng-model="busaddress" ng-disabled="true">
          </label>
          <label class="item item-input">
                <span class="input-label">Ticket  </span>
                <input type="text" ng-model="st.tikno" ng-disabled="true">
            </label>
          <label class="item item-input">
                <span class="input-label">Bus no  </span>
                <input type="text" ng-model="st.bbname" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label"> Seat no</span>
                <input type="text" ng-model="st.tkts" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Date </span>
                <input type="text" ng-model="dater" ng-disabled="true"  >
            </label>
            <label class="item item-input">
                <span class="input-label">From </span>
                <input type="text" ng-model="source"  ng-disabled="true" >
            </label>
            <label class="item item-input">
                <span class="input-label">To </span>
                <input type="text" ng-model="destination" ng-disabled="true" >
            </label>
            <label class="item item-input">
                <span class="input-label">Fare </span>
                <input type="text" ng-model="busfare" ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label"> Total </span>
                <input type="text" ng-model="total" ng-disabled="true">
            </label>
             
           </div> 
    		<!--<center><h3 class="head-p"> Passenger Details </h3> </center>-->
      <div class="list"  ng-repeat = "d in dnarray track by $index ">
            <div class="item item-divider">{{$index + 1}}.Passenger</div>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="names[$index]"  ng-disabled="true">
            </label>
             <!--<label class="item item-input">
                <span class="input-label">Id Number</span>
                <input type="text" ng-model="ids[$index]"  ng-disabled="true">
            </label>
            <label class="item item-input">
                <span class="input-label">Mobile </span>
                <input type="text" ng-model="mobs[$index]"  ng-disabled="true">
            </label>-->
      </div> 

    
    </div>
     
  </ion-content>
</ion-view>
